thead {
    background-color: #EEE;
}
td {
    padding: 5px 20px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header, .footer {
    padding-right: 15px;
    padding-left: 15px;
}
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

@media(min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.pre-scrollable {
    max-height: 140px;
}
