<h1>About DEJE Admin</h1>

<p>DEJE Admin is a tool for managing and participating in DEJE documents.</p>

<p>It is a low-level, general tool - it doesn't care if your document is a chess game or a DJDNS page. However, complex document types may be clunkier to interact with in DEJE Admin, than they would be in a specialized client.</p>

<h2>About DEJE</h2>

<p>DEJE is a concurrent document protocol built upon existing technologies (IRC and Bitcoin) to provide completely decentralized shared editing.</p>

<p>See the <a href="https://github.com/campadrenalin/go-deje">go-deje Github page</a> for more information</a>
