{{ with .Data }}
<h1>Admin Console</h1>
<table id="stats">
    <thead>
        <tr>
            <td>Location</td>
            <td>Num. Events</td>
            <td>Num. Quorums</td>
            <td>Num. Timestamps</td>
        </tr>
    </thead>
    <tr>
        <td>{{ .Channel.GetURL }}</td>
        <td class="num_events">{{ .Events.Length }}</td>
        <td class="num_quorums">{{ .Quorums.Length }}</td>
        <td class="num_ts">{{ .Timestamps.Length }}</td>
    </tr>
</table>

<h3>Block sync progress</h3>
<div class="progress progress-striped active">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width:80px; width: 0%;">
    0/120 (0%)
  </div>
</div>

<p>
    <a target="_blank" href="/events?host={{ .Channel.Host }}&port={{ .Channel.Port }}&channel={{ .Channel.Channel }}">View events</a>
    (Latest is <span id="latest_event_hash">DEADBEEF</span>).
    Go to: <input class="goto_event"/>
        <button type="submit" class="btn btn-primary goto_event">Go</button>
</p>

<h3>IRC log</h3>
<pre id="irc_logger" class="pre-scrollable"></pre>

<h3>Current value</h3>
<div id="state">
...
</div>

<h4>Propose change</h4>
<form id="event_input" role="form">
    <div class="form-group has-error">
        <textarea class="form-control" name="event_json" rows="5">Event JSON here</textarea>
        <span class="help-block js-prchange-help">Must be valid JSON.</span>
    </div>
    <fieldset>
        <button type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
        <button type="button" class="btn btn-secondary">Fill from template</button>
    </fieldset>
</form>
<script>
    require(['djadmin/irc','djadmin/events','djadmin/io'],
     function(IRCLogger,   Events,           socket) {
        irc = new IRCLogger('#irc_logger');
        evinput = new Events.Inputter('#event_input');
        socket.subscribe('{{ .Channel.GetURL }}');
    });
    require(['djadmin/stats'],
     function(StatsUpdater) {
        stats = new StatsUpdater('#stats');
    });
    require(['djadmin/state'],
     function(StateDisplay) {
        sd = new StateDisplay('#state');
    });

    require(['djadmin/goto'], function(goto_event) {
        $('button.goto_event').click(function() {
            var hash;
            hash = $('input.goto_event').val();
            goto_event(hash);
        });
    });
</script>
{{ end }}
