<!DOCTYPE html>
<html>
<head>
    <title>DEJE Admin Interface</title>
    <style>
        thead {
            background-color: #EEE;
        }
        td {
            padding: 5px 20px;
        }
    </style>
</head>
<body>
{{ yield }}
</body>
</html>
