<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DEJE Admin Interface</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
    <script src="js/require.js"></script>
    <script>
        require.config({
            baseUrl: "/js/",
            paths: {
                "jquery": "jquery-2.1.0.min"
            },
            shim: {
                "bootstrap": {
                    deps: ["jquery"]
                },
                "socket.io": {
                    exports: "io"
                }
            }
        });
        // Don't actually do anything with bootstrap, just include it
        require(['bootstrap'], function(){});
    </script>
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AjXoewxYCIsgdFQ4VlFBTEgzVUdqd3ZSRmdCTDlRamc&usp=sharing">Progress</a></li>
          <li {{ if eq .Nav "root" }}class="active"{{ end }}><a href="/">Home</a></li>
          <li {{ if eq .Nav "about" }}class="active"{{ end }}><a href="/about">About</a></li>
          <li {{ if eq .Nav "help" }}class="active"{{ end }}><a href="/help">Help</a></li>
        </ul>
        <h3 class="text-muted">DEJE Admin</h3>
    </div>
    <div>
        {{ yield }}
    </div>
</div>
</body>
</html>
