<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DEJE Admin Interface</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {{ if eq .Nav "root" }}class="active"{{ end }}><a href="/">Home</a></li>
          <li {{ if eq .Nav "about" }}class="active"{{ end }}><a href="/about">About</a></li>
          <li {{ if eq .Nav "help" }}class="active"{{ end }}><a href="/help">Help</a></li>
        </ul>
        <h3 class="text-muted">DEJE Admin</h3>
    </div>
    <div>
        {{ yield }}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
