<h1>DEJE Admin Interface</h1>
Open document by IRC location:
<form action="/open" method="get">
    <label>IRC server host<input name="host"/></label><br/>
    <label>IRC server port<input name="port"/></label><br/>
    <label>#channel<input name="channel"/></label><br/>
    <input type="submit"/>
</form>
